body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #14ea49;
    font-family: "Source Sans Pro";
    font-size: 3em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
  }
  p{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -50%);
    color: #06f2de;
    font-family: "Source Sans Pro";
    font-size: 2em;
    font: weight 100px;;
    -webkit-user-select: none;
    user-select: none;
  }